.add-staff, .edit-staff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.add-staff-form, .edit-staff-form {
    display: grid;
    grid-auto-flow: row;
    gap: 0.6vw;
}

.add-staff-form div, .edit-staff-form div {
    display: grid;
    grid-auto-flow: column;
    gap: 0.3vw;
    align-items: center;
}

.add-staff-form textarea, .edit-staff-form textarea {
    width: 15vw;
    height: 15vh;
}

@media (max-width: 600px) {
    .add-staff-form div textarea, .edit-staff-form div textarea {
        width: 100%;
    }
}

.add-staff-form button[type="submit"], .edit-staff button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.add-staff-form button[type="submit"]:hover, .edit-staff button:hover{
    background-color: #0056b3;
}

.edit-staff .buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 1vw;
    margin-top: 1vh;
}

.unauthorized-error-page {
    display: flex;
    flex-direction: column;
}