aside {
    background-color: lightgreen;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0 2vw;
}

aside .star-icon {
    height: 2.2vh;
    margin-bottom: -0.2vh;
}

aside h1 {
    margin-bottom: 1vh;
}

aside a {
    text-decoration: none;
    color: hsl(326, 60%, 68%);
}