.user-profile {
    padding: 1vh 2vw;
}

.user-profile a {
    text-decoration: none;
}

.user-profile .star-icon {
    height: 2vh;
    margin-bottom: -0.2vh;
}

.user-profile table {
    margin: 3vh 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.user-profile th, .user-profile td {
    padding: 0.5vw;
    text-align: left;
}

.user-profile th {
    background-color: #b3e6b0;
    font-size: 2.2vh;
}

.user-profile td {
    font-size: 2vh;
    border-top: 1px solid #ddd;
}

.user-profile td a {
    text-decoration: none;
    color: #4ca94c;
}

.user-profile td a:hover {
    color: #2e6e2e;
}

.user-profile tr:nth-child(even) {
    background-color: #d5fcd8;
}

.user-profile tr:hover {
    background-color: #bce8bc;
}
